<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/students-icon-education-certificate-icon-star-icon-UNFXvjUK.ico">
    <link rel="stylesheet" href="../static/css/styles-certificate.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet"> 
    <title>Certificate-1</title>
</head>
<body>
    <h1>Here is your Certificate</h1>
    <p id="intro">presented to</p>
    <img id="background-pic"src="../static/images/certificate1 copy.jpg" alt="">
    <img id='frontimg'src="../static/images/certificate1.jpg" alt="">   
    <p id="paragraph">This certificate is presented  by {{ organization_name }} in recognition of your exemplary performance in the last period </p>
    <h2 id="name">{{ certified_name }}</h2>
    <h3 id="signiture"> {{ head_signiture }}</h3>
    <h3 id="date"> {{ Date }}</h3>
</body>
</html>