<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/graduation-cap-icon-6-256.ico">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet"> 
    <title>Certifiacate Maker</title>

</head>
<body>
    <img id="frontpage-img" src="../static/images/frontpage_img.jpg" alt="">
    <h1 class="text">Wellcome</h1>
    <h3>Certifiacate Maker Website</h3>
    <div class="dialog">
        <img src="../static/images/frontpage_small_img.jpg" alt="">
        <form  class="form" action="/certificate" method="post">
            <label >Enter Your Info Here</label><br><br>
            <label>Name</label><br>
            <input type="text" name="applicant_name">
            <label>Organization Name</label><br>
            <input type="text" name="organization_name">
            <label>Signiture</label><br>
            <input type="text" name="signiture"><br><br>
            <!-- <label>Paragraph</label><br>
            <textarea name="textarea" cols="20" rows="2"></textarea> -->
            <button class="btn"> SUBMIT</button>                                
        </form>
    </div>
    <div class="bottom-container">
        <h2>Contact Me</h2>
        <a href="https://www.linkedin.com/in/ahmed-atya-50b791176/">LinkenIn</a>
        <a href="mailto:ahmedatya1288@gmail.com">Gmail</a>    
    <div>
    
    
</body>
</html>